@import 'config';
@import 'utilities';
@import 'buttons';



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: $light-color;
    font-family: $font-family;
    line-height: 1.6;
}
img{
    width: 100%;
}
.showcase{
    @include set-background($primary-color);
    height: 600px;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        ul{
            display: flex;
        }
        li{
            padding: 15px;
        }
        a{
            color: set-text-color($primary-color);
        }
        a:hover{
            color: $secondary-color;
        }
    }
    &-content{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        img{
            width: 50%;
            padding: 30px;
        }
        h1{
            font-size: 50px;
            line-height: 1.2;
        }
    }
}

@import 'mobile';