// variables
$font-family: Arial, sans-serif;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$light-color: #f4f4f4;


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: $light-color;
    font-family: $font-family;
    line-height: 1.6;
}

.showcase{
    background-color: $primary-color;
    
}